@page
@using Newtonsoft.Json
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    @if (Model.connectedServers.Count() == 0)
    {
        <p>Подключенных серверов нет</p>
    }
    else
    {
        <ul>
            @foreach (var i in Model.connectedServers)
            {
                Dictionary<string, string> serverData =
                        new Dictionary<string, string> { { "passedObject", JsonConvert.SerializeObject(i.name) } };
                <li><a asp-page="./Viewserver" asp-all-route-data="serverData">@i.name</a> @i.lastConnect.ToString("dd.MM.yyyy HH:mm") </li>
            }
        </ul>
    }

</div>
