@page
@model NeuronServerRemoteControl.Pages.ListCommandModel
@{ 
    NeuronServerRemoteControl.Pages.ListCommandModel newModel = (NeuronServerRemoteControl.Pages.ListCommandModel)ViewContext.ViewData["ListCommandModel"];
}

<style>

    .row > p {
        margin: 0px;
    }

    .commandBlock {
        border: 1px solid #bdbdbd;
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 10px;
    }

    .sendAgain {
        float: right;
        margin-top: -18px;
    }
</style>

<h4 class="text-center">Предыдущие запросы</h4>

@if (newModel.SentCommandsCount > 0)
{
    <div class="row">
    @foreach (var item in newModel.SentCommands)
    {
        <div class="col-md-12 commandBlock">
            <div class="row">
                <p class="col-md-6">@item.CommandText</p>
                <p class="col-md-5 text-right">@item.CreateDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
                <p class="col-md-11">@item.ResponseText</p>
                <div class="col-md-1 sendAgain"><img src="/img/send.png" class="sendButton" onclick="sendCommand('@item.CommandText')" title="Отправить команду снова" style="float: right;"></div>
            </div>
        </div>
    }
    </div>
}
else
{
    <p>Запросов нет</p>
}
