@page
@model NeuronServerRemoteControl.Pages.PersonalModel
@{
}

    <form method="post">
    
        <div class="form-group">
            <button class="btn btn-outline-primary btn-sm" asp-page-handler="LogOut">Выйти</button>
        </div>
    </form>